<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Thamizha</title>

    <meta name="author" content="Arunan Skanthan">
    <meta name="description" content="Free & Open Source Tamil Software.">

    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="page">
      <header>
        <div class="title">Thamizha</div>

        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </nav>
      </header>

      <div class="row">
        <div class="content">
          {{ content }}

          <footer>
            <p><a href="https://github.com/thamizha/thamizha.github.com#license">Copyleft</a> &copy; 2013 Thamizha.</p>
          </footer>
        </div><!-- /.content -->
      </div><!-- /.row -->
    </div><!-- /.page -->

    <a href="http://github.com/thamizha"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/scripts/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="assets/scripts/main.js"></script>
    
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-294888-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  </body>
</html>
